<a href="https://colab.research.google.com/github/Chenyan-Lu/GIS322/blob/main/notebook/Module_1_(2)_Conditions_and_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Conditions and If statements
Python supports the usual logical conditions from mathematics:

* Equals: a == b
* Not Equals: a != b
* Less than: a < b
* Less than or equal to: a <= b
* Greater than: a > b
* Greater than or equal to: a >= b
* These conditions can be used in several ways, most commonly in "if statements" and loops.


An "if statement" is written by using the if keyword.

In [1]:
# if statement
a = 50
b = 100
if b > a:
  print("b is greater than a")

# Note: Indentation
#Python relies on indentation (whitespace at the beginning of a line) to define
#scope in the code. Other programming languages often use curly-brackets for this
#purpose.

b is greater than a

In [2]:
# Elif
# The elif keyword is pythons way of saying
# "if the previous conditions were not true, then try this condition".
a = 50
b = 50
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [3]:
#Else
# The else keyword catches anything
# which isn't caught by the preceding conditions.
a = 50
b = 100
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

b is greater than a

In [4]:
#And
# The and keyword is a logical operator,
#and is used to combine conditional statements.
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [5]:
#Or
#The or keyword is a logical operator,
#and is used to combine conditional statements
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [6]:
#Nested If
#You can have if statements
#inside if statements, this is called nested if statements.
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

## For Loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [7]:
# Print each student in a students list:
students = ["freshmen", "Sophomore", "Junior", "Senior"]
for x in students:
  print(x)

freshmen
Sophomore
Junior
Senior

In [8]:
#Looping Through a String
#Even strings are iterable objects, they contain a sequence of characters:
for x in "Seinor":
  print(x)

S
e
i
n
o
r

In [9]:
#The break Statement
# With the break statement we can stop the loop
# before it has looped through all the items.

# Exit the loop when x is "Sophomore"
students = ["freshmen", "Sophomore", "Junior", "Senior"]
for x in students:
  if x == "Sophomore":
    print(x)

Sophomore

In [10]:
#The continue Statement
#With the continue statement we can stop the
#current iteration of the loop, and continue with the next.
# Do not print "Sophomore"
students = ["freshmen", "Sophomore", "Junior", "Senior"]
for x in students:
  if x == "Sophomore":
    continue
  print(x)

freshmen
Junior
Senior

In [11]:
#The range() Function
#To loop through a set of code a specified number of times,
#we can use the range() function,
#The range() function returns a sequence of numbers,
#starting from 0 by default, and increments by 1 (by default),
#and ends at a specified number.
for x in range(6):
  print(x)

#Note that range(6) is no the values of 0 to 6, but the values 0 to 5.

0
1
2
3
4
5

In [12]:
# you can also use a start number than the default 0
# and/or set a step in the increase of numbers (default is 1)
for x in range(2,20,4): # 2 is the start number
                        # 20-1 is the end number (no more than this number)
                        # 4 is the increase step
      print(x)

2
6
10
14
18

In [13]:
#Nested Loops
#A nested loop is a loop inside a loop.

#The "inner loop" will be executed one time
#for each iteration of the "outer loop"

adj = ["a", "b", "c"]
fruits = [1,2,3]

for x in adj:
  for y in fruits:
    print(x, y)

a 1
a 2
a 3
b 1
b 2
b 3
c 1
c 2
c 3

## While loop
Python Loops
Python has two primitive loop commands:

* while loops
* for loops

With the while loop we can execute a set of statements as long as a condition is true.

In [14]:
# print i as long as i is less than 5:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [15]:
# While loop support the same "break" and "continue" statement
# as for loop
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## Function
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In Python a function is defined using the def keyword:

In [16]:
# how to define a function.
# the function will not be executed before you call it
# function can have one or more parameters
def testFunction(a):
  if a > 3:
    print("Hello World")
  else:
    print("Hello, ", a)

In [17]:
# calling the function to run all statements within the function
testFunction(2)

Hello,  2

In [18]:
testFunction(3)

Hello,  3

In [19]:
#Default Parameter Value

#The following example shows how to use a default parameter value.

#If we call the function without parameter, it uses the default value:

def my_function(country = "US"):
  print("I am from " + country)

my_function("Mexico")
my_function("India")
my_function() # default value "US" is used
my_function("Brazil")

I am from Mexico
I am from India
I am from US
I am from Brazil

In [20]:
#Return Values
# To let a function return a value, use the return statement
def square(x):
  return x**2

print(square(3))
print(square(5))

9
25

## Python modules
random

This module implements pseudo-random number generators for various distributions.

https://docs.python.org/3/library/random.html

In [21]:
#you need to import a module before using it

import random

#random.randint(a, b)
#Return a random integer N such that a <= N <= b. Alias for randrange(a, b+1).

random.randint(1,5)

#everytime you run, the value may be different

2

In [22]:
import random

#The random() function returns the next random floating point number in the range [0.0, 1.0).
random.random()

0.15976684360917326